language: php
php:
   - 5.4
   - 5.5
   - 5.6
   - 7.0
   - hhvm

sudo: false

cache:
   directories:
       - "$HOME/.composer/cache"
       - "$HOME/.php-cs-fixer"

before_script:
   - mkdir -p "$HOME/.php-cs-fixer"
   - composer update

script:
   - vendor/bin/php-cs-fixer fix --cache-file "$HOME/.php-cs-fixer/.php_cs.cache" --dry-run --diff --verbose
   - php bin/Smoke.php
   - php bin/Smoke.php --num_urls=1 analyse http://www.amilio.de/thumb/61/3a/613aee53e10d7348f44ae6f47bff760b_180px.jpg
   - phpunit --bootstrap vendor/autoload.php test/
